body{
    background-color: rgb(95, 95, 95);
}
main{
    width: 80%;
    height: 600x;
}
img{
    width: 43%;
    height: 300px;
}
header{
    font-size: 300%;
}
footer{
    width: 19cm;
}